* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  background-color:#FCF0DD;
}

body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238c9caa' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background: white;
  border: 1px solid black;
}

#g1{
  padding-top: 9px;
  text-align: center;
  background-color: white;

}

#header h1{
  margin:0;
  padding-left: 16px;
  display:inline;
  background-color: white;
}

.header{
  background-color: white;
  padding: 15px;
}

ul#pagetabs{
  list-style-type: none;
  width: 75%;
  float: right;
  display:inline;
  padding: 15px;
  margin: 0 0 10;
  display: inline;
  background-color: white;
}

#titlecontent{
  text-align: center;
  padding-top: 3%;
}

li#tabs1{
  display: inline;
  padding-left: 60px; 
  background-color: white;
}

div.container{
  text-align: center;
  width: 67%;
  justify-content: center;
  padding-left: 260px;
  padding-top: 55px;
  padding-bottom: 172px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%238c9caa' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}

#faqblock1{
  list-style-type: none;
}

div#block1{
  border: 3px solid; 
  margin: auto;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  background-color: white;
  border-radius: 3%;
}

#faqblock{
  text-align: left;
  justify-content: center;
  list-style-type: none;
  padding-top: 47px;
  background-color: white;
}

li#k1{
  background-color: orange;
  list-style-type: none;
  
}

li{
  background-color: white;
  padding-bottom: 6px;
}
a {
  padding: 15px;
  background-color: white;
}

/* Grid for Gallery  */

html, body { padding: 0; margin: 0; }
.image-grid div {
  width: 25%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}


.image01 { background-image: url(../wwwroot/src/0G0A9652.jpg); transition:transform 0.25s ease;}
.image01:hover{-webkit-transform:scale(1.5); transform:scale(1.5);}
.image02 { background-image: url(../wwwroot/src/IMG_0718.jpg); transition:transform 0.25s ease;}
.image02:hover{-webkit-transform:scale(1.5); transform:scale(1.5);}
.image03 { background-image: url(../wwwroot/src/IMG_0733.jpg); transition:transform 0.25s ease;}
.image03:hover{-webkit-transform:scale(1.5); transform:scale(1.5);}
.image04 { background-image: url(../wwwroot/src/IMG_0741.jpg); transition:transform 0.25s ease;}
.image04:hover{-webkit-transform:scale(1.5); transform:scale(1.5);}
.image05 { background-image: url('../wwwroot/src/IMG_0748.jpg'); transition:transform 0.25s ease;}
.image05:hover{-webkit-transform:scale(1.5); transform:scale(1.5);}
.image06 { background-image: url('../wwwroot/src/IMG_0753.jpg'); transition:transform 0.25s ease;}
.image06:hover{-webkit-transform:scale(1.5); transform:scale(1.5);}
.image07 { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-07.jpg'); }
.image08 { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-08.jpg'); }
.image09 { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-09.jpg'); }
.image10 { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-10.jpg'); }
.image11 { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-11.jpg'); }
.image12 { background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-12.jpg'); }

@media screen and (max-width: 400px) {
  .image-grid {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
  .image-grid div { width: 100%; }
}